{% extends 'secondbase.html' %}

    <title>{% block title %} {{ object.parking_name }}{% endblock %}</title>

{% block content %}
    <div class="container py-5">
        {% with parking=object.parking_lots %}
        <h1 class="title text-center py-3">
            {{ object.parking_name }}
        </h1>
        <div class="py-5">
            <h3 class="bg-warning text-center text-primary">Parking Lot Overview</h3>
            <p class="py-3">
                <br>{{ object.overview|safe }}
                </br>
                <br><strong class="text-primary">Address :</strong> {{ object.parking_full_address }}</br>
                <br><strong class="text-primary">Contact:</strong> {{ object.phone_number }}</br>
                <br><strong class="text-primary">Capacities:</strong> {{ object.capacities }} spots</br>
                <br><strong class="text-primary">Maximum overdue:</strong> $ {{ object.max_overdue }}</br>
                {% if object.free_spots == 0 %}
                <br><strong class="text-primary">Status: </strong>Full</br>
                {% elif object.free_spots == 1 %}
                <br><strong class="text-primary">Status: </strong> {{ object.free_spots }} available spot</br>
                {% else %}
                <br><strong class="text-primary">Status: </strong> {{ object.free_spots }} available spots</br>
                {% endif %}
            </p>
            <div class="text-center py-3">
                <a class="btn btn-secondary rounded-pill"href="{% url 'parking_lots_list' %}"> Back</a>
            </div>
            <!--
            {% if request.user.is_authenticated %}
            <form action="{% url 'membership' %}" method="POST">
                {{ membership_form }}
                {% csrf_token %}
                <input type="submit" value="Join Now">
            </form>
            {% else %}
            <p class="py-5">
               <a href="{% url 'user_registration' %}">Register to join</a> or
                <a href="{% url 'login' %}">
                Login to join to become a member of this parking lot
            </a>
            </p>
            {% endif %}
            -->
        <div class="py-5">
            <div class="py-5">
            </div>
        </div>
        </div>
       {% endwith %}

    </div>
   {% endblock %}
