
{% extends "secondbase.html" %}
{% load static %}

  <title>{% block title %} Password Reset {% endblock %}</title>



    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
        <h1 class="text-center pb-5 pt-5">Reset your password</h1>
      <div class="row">
        <div class="col-sm my-3 pb-5 pt-5 bg-light">
            {% if validlink %}
          <p class="text-center">Please enter your new password</p>
          <form method="post" class="py-3">
            <div style="width:50%;">
              <div style="width:80%; overflow:auto" class="py-3">
                  {{ form.as_p }}
                  {% csrf_token %}
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary text-center" value="Change my password">
            </div>
          </form>
            {% else %}
            <p>Please request a new password reset; the password reset link is invalid or has already been used.</p>
            {% endif %}
        </div>
      </div>
    <div class="py-5">
                <div class="py-5">
                    <div class="py-5">
                        <p class="py-5"></p>
                    </div>
                </div>
                </div>
    </div>
    {% endblock %}
