{% extends "secondbase.html" %}

<title>{% block title %} Password Reset {% endblock %}</title>

{% block content%}
<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
  Your password has been set.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container  my-3 pb-5 pt-5">
  <h1 class="text-center pb-5 pt-5">Password set</h1>
  <div class="row bg-light">
    <div class="col-sm my-3 pb-5 pt-5 bg-light">
      <p class="text-center">Now, you can <a href="{% url 'login' %}">log in</a> with your new password
      </p>
    </div>
  </div>
</div>
{% endblock %}