
{% extends "secondbase.html" %}

  <title>{% block title %} Password Reset Done {% endblock %}</title>

    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
        <h1 class="text-center pb-5 pt-5">Reset your password</h1>
        <div class="col-sm my-3 pb-5 pt-5 bg-light">
          <p>An email with instructions for setting your password has been sent to you.
              <br>Please make sure you have entered the email you registered with if
              you don't receive an email with instructions.</br>
          </p>
        </div>
      </div>
        <div class="py-5">
                <div class="py-5">
                    <div class="py-5">
                        <p class="py-5"></p>
                    </div>
                </div>
                </div>
    {% endblock %}
>