{% extends "secondbase.html" %}

<title>{% block title %} Password Change {% endblock %}</title>

{% block content%}
<div class="container my-3 pb-5 pt-5">
  <h1 class="text-center pb-5 pt-5">Change your password</h1>
  <div class="row bg-light">
    <div class="col-sm my-3 pb-5 pt-5 bg-light">
      <p class="text-center text-light">Please fill out the form below to change your password.</p>
      <form method="post" class="py-3 text-info">
        <div>
          <div style="overflow:auto" class="py-3">
            {{ bootstrap_form form }}
          </div>
        </div>
        <div class="text-center">
          <input type="submit" class="btn btn-warning rounded-pill text-center" value="Done and Change">
          {% csrf_token %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}