{% extends "secondbase.html" %}

<title>{% block title %} Password Change {% endblock %}</title>

{% block content%}
<div class="container my-3 pb-5 pt-5">
  <h1 class="text-center pb-5 pt-5">Forgot your password</h1>
  <div class="col-sm my-3 pb-5 pt-5 bg-light">
    <p class="text-primary text-center">Please enter the email you used to register your account to get a new password.
    </p>
    <form method="post" class="py-3 text-center">
      <div style="overflow:auto" class="py-3">
        {{ form.as_p }}
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-warning rounded-pill text-center" value="Send email">
        {% csrf_token %}
      </div>
    </form>

  </div>
  <div class="py-5">
    <div class="py-5">
      <div class="py-5">
        <p class="py-5"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}