{% extends "secondbase.html" %}

<title>{% block title %} Password Reset {% endblock %}</title>

{% block content%}
<div class="container bg-light my-3 pb-5 pt-5">
  <h1 class="text-center pb-5 pt-5">Password set</h1>
  <div class="row">
    <div class="col-sm my-3 pb-5 pt-5 bg-light">
      <p class="text-center text-light">Your password has been set.
        You can <a href="{% url 'login' %}">login now</a>
      </p>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="py-5">
    <div class="py-5">
      <p class="py-5"></p>
    </div>
  </div>
</div>
{% endblock %}