<div class="text-center">
    <span class="text-center">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-secondary rounded-pill">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary rounded-pill">previous</a>
        {% endif %}

        <span class="current text-secondary">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary rounded-pill">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary rounded-pill">last &raquo;</a>
        {% endif %}
    </span>
</div>