{% extends "secondbase.html" %}

<title>{% block title %}Cars list{% endblock %}</title>

{% block content %}
<div class="container">
    <h1 class="py-5 text-center">Cars List</h1>
    <div>
        <form class="form-inline .form-control-sm my-lg-0 ml-auto">
            <input class="form-control col-lg-11 mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary rounded-pill my-2 my-sm-2" type="submit">Search</button>
        </form>
        <p class="text-center py-3">
            <a class="mx-3 btn btn-warning rounded-pill" href="{% url 'car_create' %}">Add new car</a>
            <a class="mx-3 "><strong class="mx-3">Total balance due:</strong>$ {{ request.user.balance_due }}</a>
            <a class="btn btn-warning mx-3 rounded-pill" href="{%  url 'due_bills' %}">Manage</a>
        </p>
        <p class="text-center py-3">
            {% for car in object_list%}
            {% if car.parking is not None %}
            <strong class="ml-5 mr-3 text-primary">Car in use:</strong> {{ car.make }} {{car.model}}
            <strong class="ml-5 mr-3 text-primary">Car location :</strong> {{ car.parking }}
            <strong class="ml-5 mr-3 text-primary">Time spent :</strong> {{ car.get_time_spent }}
            {% endif %}
            {% endfor %}
        </p>
        <table>
            <caption>Available cars registered in the system</caption>
            <thead>
                <tr class="text-secondary">
                    <th id="make">Make</th>
                    <th id="model">Model</th>
                    <th id="license">License Plate Number</th>
                    <th id="state">State</th>
                    <th id="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in object_list %}
                <tr>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.license_plate_number}}</td>
                    <td>{{ car.state }}</td>
                    <td><a href="{% url 'car_edit' car.id %}" class="btn btn-warning rounded-pill mx-4">Update</a>
                        <a href="{% url 'car_delete' car.id %}" class="btn btn-warning rounded-pill mx-4">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <div>
                    <p class="py-5">You don't have any added cars</p>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}