{% extends 'secondbase.html' %}

    <title>{% block title %}Delete parking lot{% endblock %}</title>

    {% block content %}
    <div class="container">
        <h1>Delete parking lot "{{ object.parking_name }}"</h1>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
    {% endblock %}

