{% extends 'secondbase.html' %}
{% load django_bootstrap5 %}

<title>{% block title %}Form of registration{% endblock %}</title>

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        {% if object %}
        <h1>Update Parking lot "{{ object.parking_name}}"
            {% else %}
            <h1>Add a new parking lot</h1>
            {% endif %}
        </h1>
    </div>
    <div>
        <h2 class="text-center">Parking lot information</h2>
        <div class="py-5">
            <div class="py-5">
                <div class="bg-light">
                    <div class="mx-3 py-3">
                        <form method="post" class="pb-5 text-info">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                <p><input type="submit" class="btn btn-warning rounded-pill" value="Save"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="py-5"></div>
    </div>
</div>
{% endblock %}