
{% extends "secondbase.html" %}
{% load static %}


  <title>{% block title %} Password Reset Email{% endblock %}</title>



    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
          <p class="text-center text-light">Your requested for password reset. Follow the link below to reset
              your password:
              {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
              Your username : {{ user.get_username }}
          </p>
    </div>
        <div class="py-5">
                <div class="py-5">
                    <div class="py-5">
                        <p class="py-5"></p>
                    </div>
                </div>
                </div>
    {% endblock %}
