{% extends "secondbase.html" %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}

<body>
    <div class="headerImage"></div>
    <div class="headerImage">
        <div class="homeText" style = top:70px>
        <div class="py-5" style="height:auto">
            <div style=text-align:center>
                <h1 class="homeHeader" style="font-size: 50px; color:#ffc107; text-shadow: 2px 2px black;">
                    SMART 2 PARK
                </h1>
                <h3 style="color:white; text-shadow: 1.5px 1.5px black;">Welcome to SMART 2 PARK, our new and improved parking system.
                With our parking system, you never have to worry about losing your parking ticket
                or swiping your card again. SMART PARK will send parking fees directly to you so
                you can pay for parking and keep track of your fees from the comfort of your home.
                </h3>
                 <a class="btn btn-warning rounded-pill mx-3 my-2 my-sm-0" style="font-weight: bold"
                            href="{% url 'user_registration' %}">Create a Free Account</a>
            </div>
        </div>
        </div>
    </div>
    <div class="headerImage">
        <div class="floatBox">
            <div class="py-5" style="height:auto">
                <div style=text-align:center>
                    <h3 style="color:#ffc107">
                        Find parking lots.
                    </h3>
                </div>
            </div>
        </div>
        <div class="floatBox">
            <div class="py-5" style="height:auto">
                <div style=text-align:center>
                    <h3 style="color:#ffc107">
                        Pay from your home.
                    </h3>
                </div>
            </div>
        </div>
        <div class="floatBox">
            <div class="py-5" style="height:auto">
                <div style=text-align:center>
                    <h3 style="color:#ffc107">
                        View parking history.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="headerImage">
        <div class="floatBox1">
            <div class="py-5" style="height:auto">
                <div style="text-align:left; margin-left: 5%">
                    <h3 style="color:#ffc107">
                        Never worry about swiping your card
                        <br>
                        or losing your parking ticket again.
                        <br>
                        Get started with SMART 2 PARK today!
                    </h3>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}