{% extends "secondbase.html" %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}

<body>
{#    <div class="headerImage">#}
{#        <div class="py-5">#}
{#        </div>#}
{#    </div>#}
    <img class=headerImage" src ="static/custom_css/iowa_city.jpg">
    <div class="homeText">
        <div class="py-5" style=height:auto>
            <div style=text-align:center>
                <h1 class="homeHeader" style="font-size: 50px; color:#d05a36">SMART 2 PARK</h1>
                <h3 style=color:#d05a36>Welcome to SMART 2 PARK, our new and improved parking system!
                With our parking system, you never have to worry about losing your parking ticket
                or swiping your card again. SMART PARK will send parking fees directly to you so
                you can pay for parking and keep track of your fees from the comfort of your home.
                Just create an account to begin!</h3>
            </div>
        </div>
    </div>
{#    <div class="headerImage">#}
{#        <div class="py-5">#}
{#        </div>#}
{#    </div>#}
</body>
{% endblock %}