/* Footer*/
        footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
        }


      /* Navigation menu */
      .sidenav {

          background-color:black;
          padding-top: 65px;
          transition: 0.5s;
          position: fixed;
          width: 0;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          overflow-x: hidden;

      }

      /* Navigation menu links */
      .sidenav a {
          text-decoration: none !important;
          color:black;
          display: block;
          padding: 8px 8px 8px 32px;
          transition: 0.5s;
          font-size: 25px;

      }

      /* Change the color when the mouse over the navigation links */
      .sidenav a:hover {
          color: #f1f1f1;
      }

      /* Style for the closing button */
      .sidenav .closeout {
          top: 0;
          float: right;
          font-size: 25px;
          position: absolute;
          margin-left: 50px;
          color: white;
          right: 25px;
      }

      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #d4d4d4;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

      .logo{
          text-shadow: 4px 4px 5px gray;
      }
