{% extends "secondbase.html" %}

<title>{% block title %}Current bills{% endblock %}</title>

{% block content %}
<div class="container text-center">
    <h1 class="py-5 text-center">Bill Management</h1>
    <h2 class="py-3 text-center">Due bills</h2>
    <div>
        <h4 class=" bg-warning text-center py-3">
            <a class="mx-5 text-primary" href="{% url 'due_bills' %}">Remaining Bills</a>
            <a class="mx-5 text-primary" href="{% url 'paid_bills' %}">Paid Bills</a>
            <a class="mx-5 text-primary" href="{% url 'bills_by_parking' %}">Bills by Parking lot</a>
        </h4>
        <p class="text-center py-3">
            <a class="mx-5"><strong class="mx-2 text-primary">Total amount due:</strong> $ {{ request.user.balance_due }}
            </a>
        </p>
        <table>
            <caption>All due bills</caption>
            <thead>
                <tr class="text-secondary">
                    <th id="car">Car</th>
                    <th id="parking">Parking</th>
                    <th id="in_time">Entry time</th>
                    <th id="out_time">Exit time</th>
                    <th id="time_spent">Time spent</th>
                    <th id="parking_fee">Charges</th>
                    <th id="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                    <td>{{ bill.car }}</td>
                    <td>{{ bill.parking }}</td>
                    <td>{{ bill.in_time}}</td>
                    <td>{{ bill.out_time }}</td>
                    <td>{{ bill.get_time_spent }}</td>
                    <td>$ {{ bill.parking_fee}}</td>
                    <td><a href="{% url 'make_payment' bill.id %}" class="btn btn-warning rounded-pill mx-1">Pay Now</a>
                    </td>
                    </td>
                </tr>
                {% empty %}
                <div>
                    <p class="py-5">You don't have any due bills</p>
                </div>
                {% endfor %}
            </tbody>
        </table>
        <div class="py-5"><div class="py-5"></div></div>
    </div>
</div>
{% endblock %}